<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usage instructions</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Pipeline</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/how-to">Usage Instructions</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>How to use the pipeline.</h1>
        <p class="meta">Course: BIN Toolbox | Team: Jesse & Robin</p>
</body>